<%- include('partials/header') -%>
<script>

const highscores = new Set();





</script>

<h3>TOP CARBON COUTNERS</h3>

  <div>
    <p>1. John Doe 100</p> <p></p>
  </div>
  
  <div>
    <p>2. John Doe 90</p>
  </div>
  
  <div>
    <p>3. John Doe 80</p>
  </div>
  
  <div>
    <p>4. John Doe 70</p>
  </div>
  
  <div>
    <p>5. John Doe 60</p>
  </div>
  
  <div>
    <p>6. John Doe 50</p>
  </div>
  
  <div>
    <p>7. John Doe 40</p>
  </div>
  
  <div>
    <p>8. John Doe 30</p>
  </div>
  
  <div>
    <p>9. John Doe 20</p>
  </div>
  
  <div>
    <p>10. John Doe 10</p>
  </div>
  
  
<%- include('partials/footer') -%>
